.box {
  width: 290px;
  height: 390px;
}

.box .group {
  position: fixed;
  width: 292px;
  height: 390px;
  top: 0;
  left: 0;
}

.box .overlap {
  position: relative;
  width: 290px;
  height: 390px;
}

.box .group-wrapper {
  position: absolute;
  width: 290px;
  height: 390px;
  top: 0;
  left: 0;
}

.box .group-x {
  width: 292px;
  height: 390px;
}

.box .overlap-group {
  background-color: #d9d9d9;
  border-radius: 15px;
  position: relative;
  width: 290px;
  height: 390px;
}

.box .rectangle {
  position: absolute;
  width: 290px;
  height: 170px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.box .text-wrapper {
  position: absolute;
  top: 195px;
  left: 12px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #747272;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .div {
  position: absolute;
  width: 260px;
  top: 226px;
  left: 12px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: normal;
}
